<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86898584543-9uap84oed2lv5em8jp50q4sthkif7q5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86898584543-9uap84oed2lv5em8jp50q4sthkif7q5l</string>
	<key>API_KEY</key>
	<string>AIzaSyAO7bz1daARcRv2PhJme2LrKZHYMaE6KLw</string>
	<key>GCM_SENDER_ID</key>
	<string>86898584543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baranozdemir.pawPoints</string>
	<key>PROJECT_ID</key>
	<string>paw-points-109d2</string>
	<key>STORAGE_BUCKET</key>
	<string>paw-points-109d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86898584543:ios:d3d6375a0e4d7bb4ff726a</string>
</dict>
</plist>